# builds
build*/

# cache
.cache

# data
data/example.speos

# egg
*.egg-info

# mac
.DS_Store

# env
.env

# so
*.so

# cache
__pycache__

# dist
dist

# outputs
*.png
examples/*.pdf

# vulcan test temp
tests/vulcan/cho/_*.py
tests/vulcan/cho/_*.pkl
tests/vulcan/VULCAN/

.vscode